In [1]:
import pandas as pd
from sqlalchemy import create_engine, text

In [2]:
pd.options.display.max_rows = 10

In [9]:
engine = create_engine('sqlite:///firstDB.db', echo=True)
df = pd.read_csv('C:/Users/Duskrieg/Documents/Coder House/Clase 15/customer.csv').to_sql('customer', engine, if_exists='replace', index=False)
df = pd.read_csv('C:/Users/Duskrieg/Documents/Coder House/Clase 15/call.csv').to_sql('call', engine, if_exists='replace', index=False)
df = pd.read_csv('C:/Users/Duskrieg/Documents/Coder House/Clase 15/agent.csv').to_sql('agent', engine, if_exists='replace', index=False)

def runQuery(sql):
    result = engine.connect().execute((text(sql)))
    return pd.DataFrame(result.fetchall(), columns=result.keys())

2022-03-10 22:07:14,406 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("customer")
2022-03-10 22:07:14,407 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-10 22:07:14,408 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("customer")
2022-03-10 22:07:14,408 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-10 22:07:14,409 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-03-10 22:07:14,409 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-10 22:07:14,409 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("customer")
2022-03-10 22:07:14,410 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-10 22:07:14,411 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-03-10 22:07:14,411 INFO sqlalchemy.engine.Engine [raw sql] ('customer',)
2022-03-10 22:07:14,411 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("customer")
2022-03-10 22:07:14,412 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-10 22:07:14,412 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("customer")
2022-03-10 22:07:14,412 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-10 22:07:14,413 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-03-10 22:07:14,413 INFO sqlalchemy.engine.Engine [raw sql] ('customer',)
2022-03-10 22:07:14,414 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("customer")
2022-03-10 22:07:14,414 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-10 22:07:14,414 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("customer")
2022-03-10 22:07:14,414 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-10 22:07:14,415 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("customer")
2022-03-10 22:07:14,415 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-10 22:07:14,416 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("customer")
2022-03-10 22:07:14,416 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-10 22:07:14,417 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-03-10 22:07:14,417 INFO sqlalchemy.engine.Engine [raw sql] ('customer',)
2022-03-10 22:07:14,419 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-03-10 22:07:14,419 INFO sqlalchemy.engine.Engine
DROP TABLE customer
2022-03-10 22:07:14,419 INFO sqlalchemy.engine.Engine [no key 0.00031s] ()
2022-03-10 22:07:14,428 INFO sqlalchemy.engine.Engine COMMIT
2022-03-10 22:07:14,429 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-03-10 22:07:14,429 INFO sqlalchemy.engine.Engine
CREATE TABLE customer (
	"CustomerID" BIGINT,
	"Name" TEXT,
	"Occupation" TEXT,
	"Email" TEXT,
	"Company" TEXT,
	"PhoneNumber" TEXT,
	"Age" BIGINT
)


2022-03-10 22:07:14,429 INFO sqlalchemy.engine.Engine [no key 0.00029s] ()
2022-03-10 22:07:14,437 INFO sqlalchemy.engine.Engine COMMIT
2022-03-10 22:07:14,438 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-03-10 22:07:14,441 INFO sqlalchemy.engine.Engine INSERT INTO customer ("CustomerID", "Name", "Occupation", "Email", "Company", "PhoneNumber", "Age") VALUES (?, ?, ?, ?, ?, ?, ?)
2022-03-10 22:07:14,441 INFO sqlalchemy.engine.Engine [generated in 0.00251s] ((0, 'David Melton', 'Unemployed', 'DMelton@zoho.com', 'Morris, Winters and Ramirez', '409-093-0748', 16), (1, 'Michael Gonzalez', 'Student', 'Gonzalez_Michael@yahoo.com', 'Hernandez and Sons', '231-845-0673', 19), (2, 'Amanda Wilson', 'Student', 'Amanda.Wilson75@verizon.com', 'Mooney, West and Hansen', '844-276-4552', 18), (3, 'Robert Thomas', 'Engineer, structural', 'RThomas@xfinity.com', 'Johnson-Gordon', '410-404-8000', 25), (4, 'Eddie Hall', 'Surgeon', 'EddieHall@outlook.com', 'Dawson LLC', '872-287-2196', 30), (5, 'Charles Cruz DDS', 'Unemployed', 'CharlesDDS55@hotmail.com', 'Mitchell and Sons', '744-564-0382', 16), (6, 'Maria Johnson', 'Engineer, aeronautical', 'MJohnson@aol.com', 'Gibbs-Avery', '448-258-9852', 22), (7, 'Michael Vaughn', 'Librarian, public', 'MichaelVaughn@zoho.com', 'Rice LLC', '275-669-5217', 30)  ... displaying 10 of 1000 total bound parameter sets ...  (998, 'Jeffrey Carrillo', 'Unemployed', 'JeffreyCarrillo@yahoo.com', 'Morgan LLC', '223-784-2416', 15), (999, 'Karen Barber', 'Doctor, general practice', 'Karen.Barber20@yandex.com', 'Nelson, Joseph and Fowler', '512-703-6189', 24))
2022-03-10 22:07:14,443 INFO sqlalchemy.engine.Engine COMMIT
2022-03-10 22:07:14,457 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("call")
2022-03-10 22:07:14,457 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-10 22:07:14,458 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("call")
2022-03-10 22:07:14,458 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-10 22:07:14,459 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-03-10 22:07:14,459 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-10 22:07:14,460 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("call")
2022-03-10 22:07:14,460 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-10 22:07:14,461 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-03-10 22:07:14,461 INFO sqlalchemy.engine.Engine [raw sql] ('call',)
2022-03-10 22:07:14,462 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("call")
2022-03-10 22:07:14,462 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-10 22:07:14,462 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("call")
2022-03-10 22:07:14,462 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-10 22:07:14,463 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-03-10 22:07:14,463 INFO sqlalchemy.engine.Engine [raw sql] ('call',)
2022-03-10 22:07:14,464 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("call")
2022-03-10 22:07:14,464 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-10 22:07:14,464 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("call")
2022-03-10 22:07:14,464 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-10 22:07:14,465 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("call")
2022-03-10 22:07:14,465 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-10 22:07:14,466 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("call")
2022-03-10 22:07:14,466 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-10 22:07:14,466 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-03-10 22:07:14,466 INFO sqlalchemy.engine.Engine [raw sql] ('call',)
2022-03-10 22:07:14,467 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-03-10 22:07:14,468 INFO sqlalchemy.engine.Engine
DROP TABLE call
2022-03-10 22:07:14,468 INFO sqlalchemy.engine.Engine [no key 0.00020s] ()
2022-03-10 22:07:14,477 INFO sqlalchemy.engine.Engine COMMIT
2022-03-10 22:07:14,478 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-03-10 22:07:14,478 INFO sqlalchemy.engine.Engine
CREATE TABLE call (
	"CallID" BIGINT,
	"AgentID" BIGINT,
	"CustomerID" BIGINT,
	"PickedUp" BIGINT,
	"Duration" BIGINT,
	"ProductSold" BIGINT
)


2022-03-10 22:07:14,478 INFO sqlalchemy.engine.Engine [no key 0.00025s] ()
2022-03-10 22:07:14,485 INFO sqlalchemy.engine.Engine COMMIT
2022-03-10 22:07:14,487 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-03-10 22:07:14,607 INFO sqlalchemy.engine.Engine INSERT INTO call ("CallID", "AgentID", "CustomerID", "PickedUp", "Duration", "ProductSold") VALUES (?, ?, ?, ?, ?, ?)
2022-03-10 22:07:14,607 INFO sqlalchemy.engine.Engine [generated in 0.11591s] ((0, 10, 179, 0, 0, 0), (1, 5, 691, 1, 116, 0), (2, 10, 80, 1, 165, 0), (3, 6, 629, 1, 128, 0), (4, 8, 318, 1, 205, 0), (5, 7, 319, 1, 225, 1), (6, 10, 265, 1, 211, 0), (7, 9, 625, 0, 0, 0)  ... displaying 10 of 9940 total bound parameter sets ...  (9998, 5, 260, 0, 0, 0), (9999, 3, 31, 1, 250, 1))
2022-03-10 22:07:14,615 INFO sqlalchemy.engine.Engine COMMIT
2022-03-10 22:07:14,625 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("agent")
2022-03-10 22:07:14,626 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-10 22:07:14,626 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("agent")
2022-03-10 22:07:14,627 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-10 22:07:14,627 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-03-10 22:07:14,628 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-10 22:07:14,628 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("agent")
2022-03-10 22:07:14,629 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-10 22:07:14,629 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-03-10 22:07:14,629 INFO sqlalchemy.engine.Engine [raw sql] ('agent',)
2022-03-10 22:07:14,630 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("agent")
2022-03-10 22:07:14,630 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-10 22:07:14,630 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("agent")
2022-03-10 22:07:14,631 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-10 22:07:14,631 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-03-10 22:07:14,631 INFO sqlalchemy.engine.Engine [raw sql] ('agent',)
2022-03-10 22:07:14,632 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("agent")
2022-03-10 22:07:14,632 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-10 22:07:14,633 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("agent")
2022-03-10 22:07:14,633 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-10 22:07:14,633 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("agent")
2022-03-10 22:07:14,633 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-10 22:07:14,634 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("agent")
2022-03-10 22:07:14,634 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-10 22:07:14,634 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-03-10 22:07:14,635 INFO sqlalchemy.engine.Engine [raw sql] ('agent',)
2022-03-10 22:07:14,635 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-03-10 22:07:14,636 INFO sqlalchemy.engine.Engine
DROP TABLE agent
2022-03-10 22:07:14,636 INFO sqlalchemy.engine.Engine [no key 0.00022s] ()
2022-03-10 22:07:14,645 INFO sqlalchemy.engine.Engine COMMIT
2022-03-10 22:07:14,646 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-03-10 22:07:14,646 INFO sqlalchemy.engine.Engine
CREATE TABLE agent (
	"AgentID" BIGINT,
	"Name" TEXT
)


2022-03-10 22:07:14,646 INFO sqlalchemy.engine.Engine [no key 0.00023s] ()
2022-03-10 22:07:14,654 INFO sqlalchemy.engine.Engine COMMIT
2022-03-10 22:07:14,656 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-03-10 22:07:14,656 INFO sqlalchemy.engine.Engine INSERT INTO agent ("AgentID", "Name") VALUES (?, ?)
2022-03-10 22:07:14,657 INFO sqlalchemy.engine.Engine [generated in 0.00031s] ((0, 'Michele Williams'), (1, 'Jocelyn Parker'), (2, 'Christopher Moreno'), (3, 'Todd Morrow'), (4, 'Randy Moore'), (5, 'Paul Nunez'), (6, 'Gloria Singh'), (7, 'Angel Briggs')  ... displaying 10 of 11 total bound parameter sets ...  (9, 'Dana Hardy'), (10, 'Agent X'))
2022-03-10 22:07:14,658 INFO sqlalchemy.engine.Engine COMMIT