In [9]:
import urllib.request
import pandas as pd

In [10]:
url = "https://drive.google.com/uc?id=19G9QAuL2py_ucA3RixZ1QPTkEz_I5u3W&authuser=0&export=download"
df=pd.read_csv(url, encoding="latin-1")

In [22]:
print(df.head(5))
columnas = df.columns

       City    Year     Sport Discipline           Event  \
0  Montreal  1976.0  Aquatics     Diving  3m springboard
1  Montreal  1976.0  Aquatics     Diving  3m springboard
2  Montreal  1976.0  Aquatics     Diving  3m springboard
3  Montreal  1976.0  Aquatics     Diving  3m springboard
4  Montreal  1976.0  Aquatics     Diving    10m platform

                    Athlete Gender Country_Code        Country Event_gender  \
0           KÖHLER, Christa  Women          GDR   East Germany            W
1       KOSENKOV, Aleksandr    Men          URS   Soviet Union            M
2      BOGGS, Philip George    Men          USA  United States            M
3  CAGNOTTO, Giorgio Franco    Men          ITA          Italy            M
4    WILSON, Deborah Keplar  Women          USA  United States            W

    Medal
0  Silver
1  Bronze
2    Gold
3  Silver
4  Bronze

In [210]:
practica = pd.DataFrame(df, columns=columnas)
practica.dropna(inplace=True)
practica["Year"] = practica["Year"].astype(int)
practica["Year"] = pd.to_datetime(practica["Year"], format="%Y")

In [212]:
#practica["Año"] = pd.to_datetime(practica["Year"], format="%Y")
practica.set_index("Year")

,City,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
Year,,,,,,,,,,
1976-01-01,Montreal,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver
1976-01-01,Montreal,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
1976-01-01,Montreal,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
1976-01-01,Montreal,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
1976-01-01,Montreal,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze
...,...,...,...,...,...,...,...,...,...,...
2008-01-01,Beijing,Wrestling,Wrestling Gre-R,66 - 74kg,"GUENOT, Christophe",Men,FRA,France,M,Bronze
2008-01-01,Beijing,Wrestling,Wrestling Gre-R,66 - 74kg,"KVIRKELIA, Manuchar",Men,GEO,Georgia,M,Gold
2008-01-01,Beijing,Wrestling,Wrestling Gre-R,55 - 60kg,"RAHIMOV, Vitaliy",Men,AZE,Azerbaijan,M,Silver
2008-01-01,Beijing,Wrestling,Wrestling Gre-R,60 - 66kg,"GUENOT, Steeve",Men,FRA,France,M,Gold
2008-01-01,Beijing,Wrestling,Wrestling Gre-R,96 - 120kg,"LOPEZ, Mijain",Men,CUB,Cuba,M,Gold

In [214]:
splitted = practica["firstName"]=practica["Athlete"].str.split(", ")
print(splitted.str[0].head(5))
print(splitted.str[1].head(5))

0      KÖHLER
1    KOSENKOV
2       BOGGS
3    CAGNOTTO
4      WILSON
Name: Athlete, dtype: object
0           Christa
1         Aleksandr
2     Philip George
3    Giorgio Franco
4    Deborah Keplar
Name: Athlete, dtype: object